@font-face {
    font-family: Normal;
    src: url(Poppins-2/Poppins-Light.ttf);
}

@font-face {
    font-family: Light;
    src: url(Poppins-2/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: h1;
    src: url(Poppins-2/Poppins-Bold.ttf);
}

@font-face {
    font-family: h3;
    src: url(Poppins-2/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: h4;
    src: url(Poppins-2/Poppins-Medium.ttf);
}

*{
    font-family: normal;
    font-size: 16px; 
}

.navbar{
    font-family: light; 
}

.col-sm-4{
    background-color: rgba(230,218,206,1);
    height: 370px;
}

.col-sm-4{
    height: 300px;
}

h1 {
    font-family: h1;
    text-align: center;
}

h4{
    font-family: h4;
}


/*.col-sm-6{
    background-color: aliceblue;
}*/
.row{
    width: 100%;
}

.headers h3{
    font-family: h3;
    font-size: 24px;
}

.headers{
    border-left: 3px solid red;
    padding: 20px;
}

.text{
    padding: 20px;
    text-align: justify;
}

h4{
    font-family: h4;
    font-size: 20px;
}

hr{
    opacity: 1;
}

.ash{
    background-image: url("images/uxd\ background.png");
    height: 360px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.ashh{
    background-image: url("https://builtin.com/cdn-cgi/image/f=auto,quality=80,width=752,height=435/https://builtin.com/sites/www.builtin.com/files/styles/byline_image/public/2022-12/Statistical%20Analysis.png");
    height: 360px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.ashhh{
    background-image: url("images/vap_background.png");
    height: 768px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}


.txt{
    position: absolute;
    background-color: white;
    bottom: 8px;
    text-align: white;
    left: 8px;
    right:8px;
}

h3{
    font-family: h3;
}

.button{
    margin:5px 10px;
    width: 200px;
}

.buttons{
    width:100%;
}

i{
    font-size: 30px;
}

.connect{
    background-color: black;
    color: white;
}

p{
    text-align: justify;
}

.type p{
    margin-bottom: 8px;
}

.profile{
    margin-bottom: 10px; 
}

.connect{
    margin-top: 10px; 
}

.divide{
    display: flex;
}

.skills p{
    margin-bottom: 4px;
}

.skills{
    padding: 10px; 
}
